.BookApTab3 {
    .container-payment{
        box-shadow: 2px;
        padding: 20px 0px 30px 0px;
        background-color:white;

    }
    .image_finish{
        justify-content: center;
    }
    .header1{
        font-size: 20px;
        color: green;
        justify-content: center;
    }

    .header2{
        font-size: 14px;
        color: gray;
        justify-content: center;
    }
}