.Header {
  background: linear-gradient(133deg, #383f75, #a636f7, #f1795c);
  width: -webkit-fill-available;
  z-index: 9999;
  .header_primary-btn {
    padding: 0.375rem 1rem;
    font-weight: 600;
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    margin-left: 1.75rem;
    background-color: white;
    color: #0052d4;
    border-radius: 0.625rem;
    border-bottom-left-radius: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .Dogtor:hover {
    cursor: pointer;
  }
  .nav-chosen {
    border-radius: 1.5rem;
    background-color: white;
    padding: 0.5rem 0.75rem;
    color: #0052d4 !important;
    a {
      color: #0052d4;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .RoleDropdown:hover {
    cursor: pointer;
  }
}
