.UserProfilePage {
    .container-userprofile{
         margin-top: 20px;
         min-height: 280px;
       // max-width: 600px;
         box-shadow: 2px;
        padding: 10px 0px 10px 0px;
         background-color:white;
        // justify-items:center ;
       
    }
   
    .col-infor{
        font-weight:  600 ;
        font-size: 16px;
    }
    .col-infor-2{
      font-size: 16px;
    }
    .ant-row + .ant-row {
        margin-top: 0.5rem;
      }
}