.CustomButton {
    border-radius: 40px;
    padding: 10px 50px;
    background-color: white;
    color: #20A0D8;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 600;
}